* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

header, footer {
    background-color: #1F2937;
}

.hero {
    background-color: #1F2937;
    min-height: 60vh;
    display: flex;
    padding: 0 200px;
    align-items: center;
}

.information {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    min-height: 50vh;
    text-align: center;
}

.subtext, header a, .hero-placeholder {
    font-size: 18px;
    color: #E5E7EB
}

.quote-container {
    background-color: #E5E7EB;
    min-height: 25vh;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.main-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

button, .blue {
    background-color: #3882F6;
}

.signature {
    font-size: 18px;
    color: #1F2937;
    font-weight: 900;
}

header {
    min-height: 8vh;
    padding: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    min-height: 8vh;
}

.calltoaction {
    min-height: 25vh;
}

header a {
    margin-left: 14px;
    text-decoration: none;
}

.hero-placeholder {
    flex: 1;
    background-color: grey;
    text-align: center;
    padding: 100px 50px;
}

.hero-container {
    flex: 1;
    padding-right: 40px;
}

button a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.hero button {
    padding: 6px 25px;
    border: 0;
    border-radius: 5px / 5px;
    width: 100px;
    margin-top: 10px;
}

.information > p {
    margin: 40px 0;
}

.information-container {
    display: flex;
    padding: 0 200px;
    justify-content: center;
    gap: 40px;
}

.image {
    height: 150px;
    width: 150px;
    border: 2px solid blue;
    border-radius: 10px / 10px;
}

.information-container p {
    width: 150px;
    margin-top: 10px;
}
