* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

header, footer {
    background-color: #1F2937;
}

.hero {
    background-color: #1F2937;
    min-height: 40vh;
}

.information {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    min-height: 40vh;
}

.subtext, header a, .hero-placeholder {
    font-size: 18px;
    color: #E5E7EB
}

.quote-container {
    background-color: #E5E7EB;
    min-height: 25vh;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.main-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

button, .blue {
    background-color: #3882F6;
}

.signature {
    font-size: 18px;
    color: #1F2937;
    font-weight: 900;
}

header {
    min-height: 8vh;
}

footer {
    min-height: 8vh;
}

.calltoaction {
    min-height: 25vh;
}